:root {
    /* Pallet */
    --clrmain: #ffff;
    /* --clrmain: rgba(30, 136, 30, 0.527); */
    --clrnav: #f0b30c;
    --clrwrt: #363636fd;
    --clrwrt2: #000000fd;
    --clrhvr: #ca8e0b;
    --clrbtn: #ffff;
}

* {
    box-sizing: border-box;
}

/* HELPERS */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.margin-center {
    margin: auto;
}

.marign-left {
    margin-left: 10px;
}

.clean-list {
    list-style-type: none;
    margin: 0;
}

/* CONTAINERS */
body {
    scrollbar-width: none;
    margin: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--clrnav);
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}

.overflow {
    overflow-x: auto;
    overflow-y: auto;
}

.header {
    margin-bottom: 15px;
}

.logo {
    margin-left: 10px;
    object-fit: scale-down;
    width: 150px;
    height: 35px;
}

.logo:hover {
    box-shadow: unset;
    border: unset;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    padding: 20px;
    color: var(--clrwrt2);
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 21;
}

.hamburger.exit {
    display: none;
    z-index: 100;
}

nav {
    background-color: var(--clrmain);
    color: var(--clrnav);
    font-family: monospace;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--clrwrt);

}

nav ul {
    position: static;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    color: var(--clrmain);
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
}


nav ul li a {
    text-decoration: none;
    color: var(--clrwrt);
}

nav ul li a:hover {
    cursor: pointer;
    color: var(--clrhvr);

}

.main-gallery-container::-webkit-scrollbar {
    display: none;
}

.main-gallery-container {
    padding: 15px;
    margin: 15px;
    margin-left: 35px;
    width: 95%;
    height: 820px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--clrnav);
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 15px;
    scrollbar-width: none;
}

.saved-meme-container {
    margin-top: 30px;
    display: none;
    height: 300px;
    width: 95%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    margin-left: 35px;

    gap: 15px;


}

.search-container {
    margin-top: 25px;
    margin-left: 155px;
    margin-bottom: 10px;
    width: 30vw;
    background-color: var(--clrmain);
    border-radius: 25px;
    position: relative;
    padding: 3px 50px 3px 10px;

}

.search-box {
    background-color: transparent;
    height: 35px;
    font-size: 1rem;
    border: 0;
    width: 100%;
    outline: none;

}

.search-btn {
    display: none;
}

img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;

}

img:hover {
    cursor: pointer;
    border: 3px solid rgb(46, 26, 2);
    transition: 0.2s ease-in-out;
}

canvas {
    margin: 1%;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;

}

.selected {
    font-size: 1.5rem;
    color: var(--clrnav);
}

.canvas-page-container {
    display: none;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(500px, 500px));
    margin-top: 100px;
    width: 100%;
}

.tools-container {
    grid-template-columns: repeat(5, minmax(30px, 30px));
    grid-template-rows: repeat(6, minmax(30px, 30px));
    justify-content: center;
    margin: auto;
    gap: 30px;
}

.hamburger .exit {
    display: none;
}

/* EDIT BUTTONS */
.edit-buttons {
    max-width: 30px;
    max-height: 30px;
    border: none;
}

.fill-color {
    position: relative;
    grid-area: 4/5/4/6;
}

.stroke-color {
    position: relative;
    grid-area: 4/4/4/5;
}

.edit-buttons:hover {
    cursor: pointer;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    box-shadow: none;
}

input {
    border-width: 1px;
}

.txt-input {
    grid-area: 1/1/1/-1;
    border-radius: 10px;
    

}

.fill-stroke-color-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.trash-btn {
    grid-area: 2/4/3/5;
}

.add-btn {
    grid-area: 2/3/2/5;
}

.switch-line-btn {
    grid-area: 2/2/2/3;
}

.txt-align-right-btn {
    grid-area: 3/5/3/6;
}

.txt-align-center-btn {
    grid-area: 3/4/3/5;
}

.txt-align-left-btn {
    grid-area: 3/3/3/4;
}

.size-down-btn {
    grid-area: 3/2/3/3;
}

.size-up-btn {
    grid-area: 3/1/3/2;
}

.font-btn {
    grid-area: 4/1/4/4;
    border-radius: 10px;
}

.memes-page-delete-btn,
.download-btn,
.facebook-btn,
.save-meme-btn {
    background-color: var(--clrbtn);
    padding: 5px;
    /* background-color: var(--clrhvr); */
    border: unset;
    border-radius: 10px;
    /* font-family: 'Raleway', sans-serif; */
}

.download-btn {
    grid-area: 6/4/6/6;
}

.download-btn a {
    color: var(--clrwrt);
    text-decoration: none;
}

.facebook-btn {
    grid-area: 6/3/6/4;
}


.save-meme-btn {
    grid-area: 6/1/6/3;
}

.memes-page-delete-btn:hover,
.download-btn:hover,
.save-meme-btn:hover {
    cursor: pointer;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    /* padding-bottom: 20px; */
    background-color: darkorange;
}

.footer-container p {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
    font-weight: 400;
}

@media(max-width:680px) {
    .txt-input {
        width: 250px;
    }
    canvas {
        width: 60vw;
        height: 60vh;
    }

    .main-gallery-container {
        grid-template-columns: repeat(2, minmax(175px, 175px));
    }

    .saved-meme-container {
        grid-template-columns: repeat(2, minmax(175px, 175px));
        gap: 50px
    }

    .img-container {

        height: 175px;
    }

    img {
        width: 175px;
        height: 175px;
    }


    body.menu-open .main-screen {
        display: block;
    }

    .nav-ul {
        position: fixed;
        background-color: var(--clrhvr);
        flex-direction: column;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 20;
        transform: translateX(100%);
        transition: transform 0.7s;

    }

    nav ul li {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .hamburger {
        display: block;
    }


    body.menu-open .nav-ul {
        transform: translateX(0);
    }

    nav ul li a {
        color: var(--clrmain);

    }

    nav ul li a:hover {
        color: var(--clrwrt2);

    }

    .fas .fa-bars {
        color: var(--clrwrt2);
    }

    .main-screen {
        position: fixed;
        height: 20px;
        width: 20px;
        top: 0;
        right: 0;
        background-color: transparent;
        z-index: 30;
        cursor: pointer;
        display: none;
        padding: 20px;
    }

}

@media(max-width:1050px) {
    canvas {
        width: 50vw;
        height: 50vw;
    }

    .canvas-page-container {
        justify-items: center;
        grid-template-columns: minmax(250px, 250px);
        margin-left: auto;
        margin-top: 25px;

    }
}